# env / secrets
.env

.venv/
__pycache__/
*.pyc

# outputs
outputs/**

# Private datasets
data/**
!data/.gitkeep
!data/**/.gitkeep

#models
hf_models/**

#  allow placeholder files
!hf_models/.gitkeep
!outputs/.gitkeep
!hf_models/README.md
!outputs/README.md

