# env / secrets
.env

.venv/
__pycache__/
*.pyc

# outputs
outputs/**
!outputs/
!outputs/.gitkeep
!outputs/README.md

# models
hf_models/**
!hf_models/
!hf_models/.gitkeep
!hf_models/README.md

# Private datasets
data/**
!data/.gitkeep
!data/**/.gitkeep

#  allow placeholder files
!hf_models/.gitkeep
!outputs/.gitkeep
!hf_models/README.md
!outputs/README.md

